In [118]:
import pandas as pd
r=15
x=0
wd=0
y=r
dic={}
k=-1
if isinstance(r, int):
    p=1-r
else:
    p=(5/4)-r
while x<=y:
    k=k+1
    if p>=0:
        e=p
        x=x+1
        y=y-1
        a=x
        b=y
        f=2*x
        g=2*y
        p=p+f+1-g
        c=0
        keys = k
        dic[keys] = e,a,b,c,p
    else:
        e=p
        x=x+1
        y=y
        a=x
        b=y
        f=2*x
        p=p+f+1
        c=0
        keys = k
        dic[keys] = e,a,b,p,c
df = pd.DataFrame(dic.values(), columns=["P","X", "Y","Pk1","Pk2"]) 
df

     P   X   Y  Pk1  Pk2
0  -14   1  15  -11    0
1  -11   2  15   -6    0
2   -6   3  15    1    0
3    1   4  14    0  -18
4  -18   5  14   -7    0
5   -7   6  14    6    0
6    6   7  13    0   -5
7   -5   8  13   12    0
8   12   9  12    0    7
9    7  10  11    0    6
10   6  11  10    0    9